<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.SysGroupMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.model.SysGroup">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id_" jdbcType="VARCHAR" property="id" />
    <result column="name_" jdbcType="VARCHAR" property="name" />
    <result column="parent_id_" jdbcType="VARCHAR" property="parentId" />
    <result column="sn_" jdbcType="INTEGER" property="sn" />
    <result column="code_" jdbcType="VARCHAR" property="code" />
    <result column="grade_" jdbcType="VARCHAR" property="grade" />
    <result column="desc_" jdbcType="VARCHAR" property="desc" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="detail_address" jdbcType="VARCHAR" property="detailAddress" />
    <result column="manage_organization" jdbcType="VARCHAR" property="manageOrganization" />
    <result column="charge_person_id" jdbcType="VARCHAR" property="chargePersonId" />
    <result column="contact_way" jdbcType="VARCHAR" property="contactWay" />
    <result column="establishment_date" jdbcType="TIMESTAMP" property="establishmentDate" />
    <result column="create_time_" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by_" jdbcType="VARCHAR" property="createBy" />
    <result column="update_time_" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by_" jdbcType="VARCHAR" property="updateBy" />
    <result column="lat" jdbcType="VARCHAR" property="lat" />
    <result column="lng" jdbcType="VARCHAR" property="lng" />
    <result column="dept_code" jdbcType="VARCHAR" property="deptCode" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="type_id" jdbcType="INTEGER" property="typeId" />
    <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
    <result column="group_principal" jdbcType="VARCHAR" property="groupPrincipal" />
    <result column="group_principal_phone" jdbcType="VARCHAR" property="groupPrincipalPhone" />
  </resultMap>
</mapper>